<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (June 10)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a>
        </td> </tr>
        <tr> <td>13:00 ET / 11:00 MT</td>  <td>Afternoon break</td> </tr>
        <tr> <td>14:00 ET / 12:00 MT</td>  <td>
         <a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a>
          </td> </tr>
         <tr> <td>16:00 ET / 14:00 MT</td>  <td>Adjourn</td> </tr>
    </table>

    <h3>Day 2 (June 11)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>
          <a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a>
      </td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00 ET / 12:00 MT</td>  <td>
          <a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python (Continued)</a>
      </td> </tr>
      <tr> <td>16:00 ET / 14:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
  </div>


  <div class="col-md-6">
    <h3>Day 3 (June 12)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>
          <a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a>
      </td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00 ET / 12:00 MT</td>  <td>
          <a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Continued)</a>
      </td> </tr>
      <tr> <td>16:00 ET / 14:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
    
  <h3>Day 4 (June 14)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td><a href="https://coderefinery.github.io/github-without-command-line/">Version Control with Git</a> </td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00 ET / 12:00 MT</td>  <td>
          <a href="https://coderefinery.github.io/github-without-command-line/">Version Control with Git (Continued)</a>
      </td> </tr>
      <tr> <td>16:00 ET / 14:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
  </div>



</div>
